table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #6C0F98;
}

table th {
  background-color: #F768AB;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #e9e9e9;
}
table td{background-color: 4DC64F
}
<div style="text-align: center;">
  <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
</div>

<p style="text-align: center;">Texto centrado</p>